/* General Style */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  border-left: 2px solid #eee;
  box-shadow: 0px 0px 21px 0px #0003 inset;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
  border-radius: 100vh;
}
::selection {
  background-color: var(--mark);
  opacity: 0.6;
  color: white;
}

:root {
  --red: #ce1212;
  --red-hover: #e90606;
  --gray: #7f7f90;
  --font-primary: "Amatic SC", sans-serif;
  --mark: #ec6f6f;
  --white: white;
  --bg-gray-light: #eee;
  --bg-white: white;
  --black: black;
  --hero-text-gray: #515153;
  --box-gray: #c8c7c7;
}
.dark-theme {
  --red: #c17e1f;
  --red-hover: #ffa21f;
  --mark: #e7ab58;
  --white: black;
  --bg-gray-light: #252525;
  --bg-white: #171717;
  --black: white;
  --hero-text-gray: #9f9f9f;
  --box-gray: black;
  --gray: #9f9f9f;
}
.primary-font {
  font-family: var(--font-primary);
}

h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.pd-y {
  padding: 80px 0;
}

.container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 80px;
}

.section-title {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.section-header {
  color: var(--gray);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}

.section-desc {
  font-size: 50px;
  margin: 3px 0;
  color: var(--black);
}

.section-desc span {
  color: var(--red);
}

/* Header Style */
/* navbar */
nav {
  justify-content: space-between;
  padding: 0 90px;
  width: 100%;
  position: fixed;
  box-shadow: 5px 5px 20px 0px var(--box-gray);
  z-index: 999;
  background-color: var(--white);
}

h1 {
  padding: 25px 5px;
  font-size: 30px;
  font-weight: 500;
  color: var(--black);
}

.htitle::after {
  content: ".";
  color: var(--red);
}

.navbar-items {
  justify-content: center;
  align-items: baseline;
}

.navbar-items li {
  padding: 30px 10px;
  font-size: 17px;
  cursor: pointer;
}

.nav-contact li {
  padding: 37px 13px;
  text-transform: capitalize;
  font-weight: 500;
}

.nav-contact li a {
  color: var(--gray);
  position: relative;
  transition: all 0.6s;
}

.navbar-items .nav-item a::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  right: 0;
  width: 0%;
  background: var(--red);
  height: 2px;
  transition: all 0.5s;
  border-radius: 10px;
}

.navbar-items .nav-item:hover a,
.navbar-items .nav-item a.active {
  color: var(--black);
}

.navbar-items .nav-item:hover a::after,
.navbar-items .nav-item a.active:after {
  width: 100%;
}
.nav-icons img {
  width: 30px;
}
.nav-icons i {
  font-size: 30px;
}
.slide-icon {
  display: none;
  color: var(--black);
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--black);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 30px 8px;
  font-size: 25px;
  color: var(--white);
  display: block;
  transition: 0.5s;
}
.sidenav a.closebtn {
  color: var(--gray) !important;
}
.sidenav a:hover {
  color: var(--red);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* hero */
.hero {
  background-color: var(--bg-gray-light);
  min-height: 100vh;
}
.hero.container {
  flex-direction: row-reverse;
}
.hero .hero-content {
  width: 500px;
  margin-top: 100px;
}

.hero .hero-img {
  width: 530px;
}

.hero-img img {
  margin-top: 100px;
  width: 100%;
}
.hero-img img:hover {
  animation: shake 1s infinite;
}
.hero .hero-content h2 {
  font-size: 65px;
  color: var(--black);
}

.hero .hero-content p {
  margin: 22px 0;
  overflow-wrap: break-word;
  line-height: 1.7;
  color: var(--hero-text-gray);
}

.hero-buttons {
  margin: 25px 5px;
}

.hero-buttons button {
  padding: 12px 25px;
  border: 0;
  font-size: 15px;
}

.hero-btn {
  background-color: var(--red);
  border-radius: 0 25px 25px 25px;
  transition: 0.5s;
}

.hero-btn a {
  color: var(--white);
}

.video-btn {
  margin-left: 15px;
  cursor: pointer;
  background-color: var(--bg-gray-light);
}

.video-btn a {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
  transition: 0.7s;
}

.video-btn i {
  padding: 14px 16px;
  background-color: var(--white);
  border-radius: 100px;
  font-size: 17px;
  position: relative;
  transition: 0.5s;
  color: var(--black);
}

.video-btn i::after {
  content: "";
  position: absolute;
  padding: 22px;
  border-radius: 30px;
  border: 8px solid;
  border-color: var(--red) transparent var(--red) var(--red);
  left: -8px;
  top: -8px;
}

.video-btn:hover a,
.video-btn:hover i {
  color: var(--red);
}

.btn-effect:hover {
  background-color: var(--red-hover);
  cursor: pointer;
}

/* Chefs Section */
.chefs-section,
.contact-section {
  background-color: var(--bg-white);
}
.chef-item {
  width: 31.8%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 15px 0px var(--box-gray);
  transition: all 0.5s;
  position: relative;
}

.chef-item:hover {
  scale: 1.07;
}

.chef-content {
  text-align: center;
}

.chef-img {
  position: relative;
}

.chef-img img {
  width: 100%;
}

.wave {
  position: absolute;
  width: 100%;
  bottom: -1;
}
.wave svg path {
  fill: var(--white);
}
.chef-content {
  padding: 5px 20px 10px;
  background-color: var(--white);
}

.chef-content h2 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--black);
}

.chef-content p {
  color: #7f7f90;
}

.chef-content p:nth-child(2) {
  font-size: 15px;
  margin: 5px 0;
}

.chef-content p:nth-child(3) {
  margin: 10px 0;
  font-size: 15px;
}

.chefs-links {
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  top: 35px;
  right: -60px;
  z-index: 2;
  padding: 30px 17px;
  border-radius: 5px;
  /* transition: property duration delay timing-function */
  transition: all 0.2s 0.4s linear;
  visibility: hidden;
}

.chefs-links a {
  color: var(--gray);
  margin: 8px 0;
  font-size: 19px;
}

.chefs-links a i {
  transition: 0.5s;
}

.chefs-links a:hover i {
  color: black;
}

.chef-item:hover .chefs-links {
  right: 8px;
  visibility: visible;
}

/* gallery section */
.gallery-section {
  background-color: var(--bg-gray-light);
}

.gallery.container {
  columns: 3 300px;
  gap: 15px;
}
.box-item {
  overflow: hidden;
  position: relative;
  border: 5px solid white;
  margin-bottom: 20px;
  transition: 0.5s;
}
.box-item img {
  width: 100%;
  transition: 0.5s;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 100%;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: 0.5s;
  padding: 8px;
}

.overlay h3 {
  margin-bottom: 5px;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
}
.overlay p {
  text-align: center;
  color: #e3ddd1;
}
.box-item:hover img {
  scale: 1.1;
}
.box-item:hover .overlay {
  top: 0;
}

/* contact section */
iframe {
  height: 390px;
}
.contact {
  margin: 30px 0;
}
.contact-row {
  justify-content: space-between;
  width: 100%;
}
.contact-item {
  width: 49.4%;
  background-color: var(--bg-gray-light);
  padding: 20px 20px;
  align-items: center;
  margin: 8px 0;
}
.contact-item a {
  background-color: var(--red);
  padding: 17px 16px;
  color: white;
  border-radius: 50px;
  margin-right: 10px;
  text-align: center;
}
.contact-item a i {
  font-size: 18px;
  color: var(--white);
}
.contact-item div h4 {
  text-transform: capitalize;
  color: var(--gray);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}
.contact-item div p {
  color: var(--black);
}
.contact-form {
  padding: 20px 15px;
  box-shadow: 3px 3px 15px 0px var(--box-gray);
}
.contact-form form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .contact-row input {
  width: 49%;
  padding: 15px;
  margin: 5px;
}
form input,
form textarea {
  width: 99.2%;
  margin: 5px;
  padding: 15px;
  border: 2px solid #dedddd;
  transition: 0.5s;
  outline: 0;
}
form input:focus,
form textarea:focus {
  border: 2px solid var(--red);
  outline: 0;
}
.contact-form form input[type="button"] {
  color: var(--white);
  padding: 12px 25px;
  width: 180px;
  border-radius: 25px;
  margin-top: 30px;
  background-color: var(--red);
  font-size: 16px;
  transition: 0.5s;
  border: 0;
}
.contact-form form input[type="button"]:hover {
  background-color: var(--red-hover);
  cursor: pointer;
}
/* footer styling */
footer.img-bg {
  background-image: linear-gradient(#0009, #0009),
    url(../images/textured-metal-background.jpg);
  color: white;
}
footer.pd-y {
  padding: 40px 0;
}
.footer.container {
  align-items: flex-start;
}
.aboutMealify div:first-child {
  align-items: center;
}
.aboutMealify div:first-child img {
  width: 45px;
}
.aboutMealify div:first-child h3 {
  font-size: 30px;
  margin-left: 10px;
}
div.aboutMealify,
div.get-in-touch {
  width: 25%;
}
div.subscribe {
  width: 48%;
  padding: 0;
}
.aboutMealify p {
  font-weight: 700;
  line-height: 1.4;
  word-wrap: break-word;
  margin: 8px 0;
}
.social-meadia h3 {
  text-align: center;
  border-bottom: 2px solid #ddd6;
  padding: 10px;
  margin: 5px 0;
}
.social-meadia-items {
  justify-content: space-between;
  padding: 15px 45px;
}
.social-meadia-items li i {
  font-size: 23px;
  color: white;
  transition: .5s;
}
.social-meadia-items  i:hover {
    color: var(--red);
}
div.subscribe h4,
div.get-in-touch {
  font-size: 18px;
}
div.subscribe p {
  margin: 8px 0;
  line-height: 1.4;
}
.subscribe-form input[type="email"] {
  width: 90%;
  padding: 10px;
  margin: 0 5px 0 0;
}
.subscribe-form .hero-btn {
  width: 130px;
  border-radius: 0;
  color: var(--white);
  font-size: 14px;
  border: 0;
  padding: 10px 0;
}
.subscribe-form {
  margin: 10px 0;
}
.subscribe-form .hero-btn i {
  font-size: 15px;
  margin-right: 3px;
}
div.quick-links {
  margin-top: 25px;
}
div.quick-links h3 {
  margin: 15px 0;
  font-size: 18px;
}
.subscribe-items {
  flex-wrap: wrap;
  display: flex;
  margin: 5px 0;
  column-gap: 10px;
}
.subscribe-items li {
  padding: 5px 0;
  width: 48%;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.5s;
}
.subscribe-items li::before {
  content: "\f105";
  font: normal 900 1em/1 "Font Awesome 6 Free";
  margin-right: 5px;
}
.subscribe-items li:hover {
  transform: translateX(10px);
  background-color: #222;
}
div.get-in-touch ul {
  margin: 5px 0;
}
div.get-in-touch ul li {
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 20px 10px;
}
div.get-in-touch ul li a {
  color: white;
}
div.get-in-touch ul li i {
  font-size: 23px;
  margin-right: 12px;
  color: var(--red);
}
/* shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Media Query */

@media (max-width: 1100px) {
  .slide-icon {
    display: inline;
  }
  .nav-contact {
    display: none;
  }
}

/* large screen */
@media (min-width: 993px) and (max-width: 1180px) {
  /* hero */
  .hero .hero-content {
    width: 400px;
  }
  .hero .hero-img {
    width: 400px;
  }
}
@media (min-width: 769px) and (max-width: 1180px) {
  /* footer */
  div.aboutMealify,
  div.get-in-touch {
    width: 48%;
  }
  div.subscribe {
    width: 100%;
    order: 2;
    margin-top: 35px;
  }
}

/* medium screen */
@media (min-width: 769px) and (max-width: 992px) {
  /* hero-secction */
  .container {
    padding: 0 5%;
  }
  .hero.container {
    justify-content: center;
  }
  .hero-img img {
    margin-top: 130px;
  }
  .hero .hero-img {
    width: 700px;
  }
  .hero .hero-content {
    text-align: center;
  }
  .hero .hero-content {
    margin-top: 50px;
    width: 100%;
  }
  /* chefs-section */
  .chef-item {
    width: 48%;
    margin-top: 30px;
  }
}
/* small screen */
@media (min-width: 577px) and (max-width: 768px) {
  /* hero-secction */
  .container {
    padding: 0 5%;
  }
  .hero.container {
    justify-content: center;
  }
  .hero-img img {
    margin-top: 130px;
  }
  .hero .hero-img {
    width: 800px;
  }
  .hero .hero-content {
    text-align: center;
  }
  /* chefs */
  .chefs-section .section-title {
    margin-bottom: 0;
  }
  .chefs-content {
    justify-content: center;
  }
  .chef-item {
    width: 500px;
    margin-top: 40px;
  }
  /* contact */
  .contact-row {
    flex-wrap: wrap;
  }
  .contact-item {
    width: 100%;
    margin: 10px 0;
  }
  form .contact-row input {
    width: 100%;
    margin: 5px 3px;
  }
  .footer div {
    width: 100%;
    margin: 15px 0;
  }
  .subscribe-form .hero-btn {
    width: 25%;
  }
}
/* mobile screen */
@media (min-width: 200px) and (max-width: 576px) {
  /* nav */
  nav {
    padding: 0 5%;
  }
  h1,
  .navbar-items li {
    padding: 15px 5px;
    font-size: 23px;
  }
  .nav-icons i {
    font-size: 23px;
  }
  .nav-icons img {
    width: 23px;
  }
  .sidenav a {
    font-size: 18px;
  }
  li.slide-icon {
    padding: 17px 5px;
  }
  .container {
    padding: 0 5%;
  }
  .hero.container {
    justify-content: center;
  }
  .hero-img img {
    margin-top: 90px;
  }
  .hero .hero-img {
    width: 100%;
  }
  .hero .hero-content {
    text-align: center;
  }
  .hero .hero-content h2 {
    font-size: 50px;
  }
  .hero .hero-content {
    width: 250px;
    margin-top: 50px;
  }
  .hero .hero-content p {
    font-size: 12px;
  }
  .hero-buttons {
    margin: 20px 0;
  }

  .hero-buttons button {
    padding: 10px 20px;
    font-size: 12px;
    margin: 5px 0;
  }

  .hero-btn {
    border-radius: 25px;
  }
  .video-btn a {
    font-size: 12px;
  }
  .video-btn i {
    padding: 14px 16px;
    font-size: 13px;
  }

  .video-btn i::after {
    padding: 21px;
    border: 6px solid;
    border-color: var(--red) transparent var(--red) var(--red);
    left: -5px;
    top: -5px;
  }
  .video-btn i {
    padding: 15px 17px;
  }
  /* chefs */
  .chefs-section .section-title {
    margin-bottom: 0;
  }
  .chefs-content {
    justify-content: center;
  }
  .chef-content {
    padding: 10px 5px;
  }
  .chef-item {
    width: 500px;
    margin-top: 40px;
  }

  .section-header {
    font-size: 12px;
  }

  .section-desc {
    font-size: 40px;
  }

  .chef-content h2 {
    font-size: 16px;
  }
  .chef-content p:nth-child(2) {
    font-size: 12px;
  }
  .chef-content p:nth-child(3) {
    font-size: 12px;
  }

  /* gallery */
  .overlay {
    padding: 10px;
  }

  .overlay h3 {
    font-size: 20px;
  }
  .overlay p {
    font-size: 13px;
  }
  /* contact */
  iframe {
    height: 290px;
  }
  .contact-row {
    flex-wrap: wrap;
  }
  form .contact-row input {
    width: 100%;
    margin: 3px 0;
  }
  .contact-item {
    width: 100%;
    margin: 8px 0;
    padding: 15px;
  }
  .contact-item a {
    padding: 13px 12px;
  }
  .contact-item a i {
    font-size: 13px;
  }
  .contact-item div h4 {
    font-size: 15px;
  }
  .contact-item div p {
    font-size: 12px;
  }
  .contact-form {
    margin: 10px 0;
  }
  form textarea {
    height: 130px;
  }
  .contact-form form input[type="button"] {
    width: 150px;
    margin-top: 20px;
    font-size: 13px;
  }
  /* footer */
  .footer div {
    margin: 7px 0;
    width: 100%;
  }
  .subscribe-form {
    flex-wrap: wrap;
  }
  .subscribe-form .hero-btn {
    width: 100%;
  }
  .subscribe-form input[type="email"] {
    width: 100%;
    margin: 5px 0;
  }
  .subscribe-items li {
    font-size: 14px;
  }
  div.get-in-touch ul li {
    font-size: 15px;
    margin: 20px 5px;
  }
}
@media (max-width: 280px) {
  .subscribe-form .hero-btn {
    font-size: 12px;
  }
  .subscribe-items li {
    font-size: 14px;
    width: 45%;
  }
  div.get-in-touch ul li {
    font-size: 13px;
  }
}
